.s_about
    background-color: #e8f3fa
    padding-top: 82px
    +r(768)
        padding-top: 35px
    h2
        margin: 0 auto
        color: #1c8ece
        font-size: 36px
        text-align: center
